---
import { getCollection, getEntryBySlug } from "astro:content";
import { intlOptions } from "../../data";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const news = await getCollection("updates");
  return news.map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const {
  render,
  data: { title, date },
} = (await getEntryBySlug("updates", slug!))!;
const { Content } = await render();
---

<PageLayout title={`${title} - textjam winter2023`}>
  <p>{title}</p>
  <i
    >posted {
      new Intl.DateTimeFormat("en-US", intlOptions).format(date).toLowerCase()
    }</i
  >
  <div class="spacing"></div>
  <Content />
</PageLayout>

<style is:global>
  .spacing {
    height: 1rem;
  }

  img {
    border: 2px solid white;
  }
</style>
