---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="textjam winter2023 - feeds">
  <pre>feeds

submissions
<a href="https://textjam.github.io/winter2023/feed/submissions.xml">textjam.github.io/winter2023/feed/submissions.xml</a>

devlogs
<a href="https://textjam.github.io/winter2023/feed/devlogs.xml">textjam.github.io/winter2023/feed/devlogs.xml</a></pre>
</PageLayout>
