---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="textjam winter2023 - about">
  <pre>how to create a devlog

- fork <a href="https://github.com/textjam/winter2023">the repository for this website</a>
- create a new folder under /src/content/devlogs with the name of your devlog
- create a file in that folder, your first devlog
- ensure that file has a title and date property
- head to your submission (if no submission create that first), and add a 'devlogPrefix' property in the frontmatter
- after your first two prs, feel free to ask for write permission to this repository so you can create devlogs without having to go through the pr process each time</pre>
</PageLayout>
