---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="textjam winter2023 - about">
  <pre>how to submit

there is two options


via a google form
-----------------

<i>this method doesn't exist just yet, if you are unsure how to complete the below method of submitting a pull request, poke jack in the discord to set this up :)</i>


via a pull request to the repository for this website
-----------------------------------------------------

- fork <a href="">the repository for this website</a>
- add a new file to <a href="https://github.com/textjam/winter2023/tree/main/src/content/submissions">/src/content/submissions/</a> named after you entry, like my-amazing-submission.md (or if you don't have a name yet, do simply your name-unnamed.md)
- submit a pr to the repository, ping the organizers in the discord, and if the pr looks good, we'll get it merged!</pre>
</PageLayout>
