---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="textjam winter2023 - how to submit">
  <pre>how to submit

there is two options


via google form
-----------------

fill out <a href="https://forms.gle/jHv4pqLdZ6wzTEC19">this form</a> and one of our lovely organizers will upload your submission asap

some limitations of this method:

- creating / editing your submission may be slower
- no devlogs (yet!)


via a pull request to the repository for this website
-----------------------------------------------------

- fork <a href="https://github.com/textjam/winter2023">the repository for this website</a>
- add a new file to <a href="https://github.com/textjam/winter2023/tree/main/src/content/submissions">/src/content/submissions/</a> named after you entry, like my-amazing-submission.md (or if you don't have a name yet, do simply your name-unnamed.md)
- submit a pr to the repository, ping the organizers in the discord, and if the pr looks good, we'll get it merged!</pre>
</PageLayout>
