---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="textjam winter2023 - about">
  <pre>a text-based thing jam

-&gt; <a href="https://discord.gg/m2VDZSqQwE">join us on our discord</a> &lt;-

---

FAQ


<details><summary> what's the limitation of a text-based thing jam?</summary>
  whatever you produce, must be limited to output only text
  to the users screen

  therefore a valid submission could be something that only
  reads and prints output to and from a user via the
  terminal, like a classic text-based dungeon game

  great examples are:

  - <a href="https://www.nethack.org/">NetHack</a>
  - <a href="http://www.bay12games.com/dwarves/">Dwarf Fortress</a>
  - <a href="https://en.wikipedia.org/wiki/Zork">Zork</a>

  and, some examples made by some of of organizers

  - <a href="./submissions/example-blascii/">BLASCII</a>
  - <a href="./submissions/example-urists-quest/">Urist's Quest</a>

  basically anything related to <a href="https://en.wikipedia.org/wiki/Interactive_fiction">'interactive fiction'</a>,
  but also anything limited to a terminal / text screen that
  draws things just using characters, even if what its
  representing behind the scenes is a lot more than just text

  it is encouraged to go 'as low as you can go' and have a
  program that works on the command line / only reads in
  standard input and output, but if you wish to reach for
  something higher level such as a website which is just text,
  or even a game engine but only writing text to screen,
  that's also acceptable

  an example of a game that stretches what it means to be 'text
  based', but can still be considered an entry to this jam,
  would be <a href="https://rogule.com/">rogule</a>
</details>

<details><summary> what's a 'thing' jam?</summary>
  think game jam, but if you want to produce
  a non-game thing, go ahead!

  obviously creating something fun and entertaining
  is encouraged, but if you would rather work on
  a neat tool rather than a game, that will still
  be a valid submission
</details>

<details><summary> how do i send in my submission?</summary>
  we have a dedicated page, <a href="./how-to-submit/">how to submit</a>

  checkout the <a href="./submissions/">submissions</a> section to see some example
  submissions, alongside any work in progress or finished
  submissions
</details>

<details><summary> i'm quite new, i'm not sure if i can do this...</summary>
  even the following python code:

    name = input("who are you:")
    print("hello, " + name)

  can be considered a valid submission to this jam!

  feel free to do as little or as much as you want
</details>

<details><summary> why is the jam so long!</summary>
  for those that want a lot of time to build something
  large over a 3 week timespan, they can, but if someone
  only wants to take a weekend to bang something together,
  they'll have 3 weekends to pick from to participate
</details>

<details><summary> will there be a theme?</summary>
  starting out we will keep this specific jam themeless,
  but depending on how this goes, future jams might have
  a theme to them
</details>

<details><summary> who is this open to?</summary>
  anyone!

  the organizations / entities we are partnered
  with are more for advertising / awareness purposes
  anyone is welcome to participate :)
</details>

<details><summary> i have an existing project i want to add onto, can i?</summary>
  if the work you have scoped out is fresh work,
  sure, but make sure in your submission to denote
  what you have done during the jam is in addition
  to stuff you have done before
</details>

<details><summary> can i use <b>x</b>?</summary>
  sound

    yes, sound is permitted


  any programming language

    sure!


  something like <a href="https://twinery.org/">Twine</a> which might not
  require me to write any code

    go ahead :)
</details>

<details><summary> i have more questions! where do i ask them?</summary>
  there is a dedicated <a href="https://discord.gg/YZ8jGajaf7">channel in the discord, #questions</a>
  or, if you are an email person, feel free to reach out
  to me@jackharrhy.com</details>
</pre>
</PageLayout>
