---
import Layout from "../layouts/Layout.astro";
---

<Layout title="textjam winter2023 poster">
  <main>
    <pre>textjam winter2023

march 13th -&gt; april 3rd

muncs x ctsnl x ndev x munc²

a text-based thing jam


its like a game jam, but you
can produce anything you want,
as long as its text based

think nethack / dwarf fortress /
zork / etc.

only know basic python?
even print("hello world") is
a valid submission :)


textjam.github.io/winter2023
github.com/textjam/winter2023</pre>
  </main>
</Layout>

<style>
  html {
    background-color: white;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    aspect-ratio: 8.5 / 11;
    height: 90%;
  }
</style>
