---
import { getCollection } from "astro:content";
import { intlOptions } from "../data";
import PageLayout from "../layouts/PageLayout.astro";

const updates = await getCollection("updates");
---

<PageLayout title="textjam winter2023 - updates">
  <pre>updates

{updates.map(({ slug, data }) => (<>- {new Intl.DateTimeFormat('en-US', intlOptions).format(data.date).toLowerCase()}, <a href={`./${slug}/`}>{data.title}</a><br /></>))}</pre>
</PageLayout>
